# Python virtual environments
.venv/
venv/
vir/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# VS Code settings
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Ignore large model files
model.h5
model1.h5
model2.h5
self_supervised_model_weights.weights.h5
self_supervised_model_with_multi_scale.weights.h5
downstream_model_weights.h5
